
body {
    background: rgb(46, 4, 197);
    color: rgb(11, 14, 12);
    padding: 10px;
    font-family: arial;
  }
  
  #all-contents {
  max-width: 800px;
    margin: auto;
  }
  
  /* navigation menu */
  nav {
    background: rgba(255, 51, 0, 0.863);
   margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  h1 {
    display: flex;
    align-items: center;
    color: rgb(33, 10, 133);
    flex: 1;
    margin: 0;
  }
  #nav-ul {
    list-style-image: none;
  }
  .nav-li {
    display: inline-block;
    padding: 0 10px;
  }
  a {
    text-decoration: none;
    color: #000ecc;
  }
  
  /* main container area beneath menu */
  main {
    background: rgb(255, 84, 16);
    display: flex;
    border-radius: 10px;
  }
  .sidebar {
    margin-right: 25px;
    padding: 10px;
  }
  .sidebar-img {
    width: 200px;
    border-radius: 10px;
  }
  .content {
    flex: 1;
    padding: 15px;
  }
  
  /* portfolio styles */
  #interests {
    border: 4px rgb(0, 0, 0) ridge;
    border-radius: 10px;
    padding: 8px;
    border-style: dotted;
  }
  h2, h3 {
    margin: 0px;
  }
           /* portfolio styles */
           .content h1 {
            color: rgb(9, 17, 88);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #041946;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #000000;
        }

        #portfolio a {
            text-decoration: none;
            color: #ff7403;
        }
                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                      main {
                        height: 100ch;
                        zoom: 1.5;
                        display: grid;
                      }
        
                      h1 {
                        font-size: 44px;
                      }
        
                      h2 {
                        font-size: 42px;
                      }
        
                      h3 {
                        font-size: 36px;
                      }
        
                      #all-contents {
                        height: 100ch;
                        margin: none;
                      }
        
                      a {
                        font-size: 42px;
                      }
        
                      .sidebar {
                        margin-right: 0px;
                        justify-content: center;
                        align-items: center;
                      }
        
                      .sidebar-img {
                        width: 100%;
                      }
        
                      p,
                      li {
                        font-size: 24px;
                      }
        
                      .content {
                        align-content: center;
                        justify-content: center;
                      }
                  }